<p *ngFor="let items of cartItems; index as i">{{ cartItems }}</p>
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cart</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
<ion-card>  
  	<ion-card-header>
   Items
  </ion-card-header>
    <ion-card-content *ngIf="cartItems.length === 0">
      Your cart is empty!
    </ion-card-content>
   <ion-list no-lines>
     <ion-item *ngFor="let product of cartItems">
    <ion-avatar item-left>
      <img src="{{product.article.logo}}">
    </ion-avatar>
    <h2>{{product.article.name}} <b> {{product.article.length}}</b></h2>
    <div [ngSwitch]="product.price_discount">
    <p *ngSwitchCase="true">€ <span st>{{product.price}}</span> <span>{{product.price_discount}}</span></p>
    <p *ngSwitchDefault>€ <span >{{product.price}}</span> <span>{{product.price_discount}}</span></p>
    </div>
    <div>
    	<button primary large>
		  <ion-icon name="add" (click)="increaseQuantity(i)"></ion-icon>
		</button>
		<button primary large>
		<ion-icon name="remove" (click)="decreaseQuantity(i)"></ion-icon>
		</button>
    </div>
  </ion-item>
</ion-list>
  <ion-card-content *ngIf="cartItems.length > 0">
      <div>Total for this order is $ {{cartItems.total}}</div>
  </ion-card-content>
 
    
</ion-card>
<ion-card>
  <ion-card-content>
  	
   <button ion-button full 
      (click)="proceedToCheckout()"
      [disabled]="0 === cartItems.length">Checkout</button>
    </ion-card-content>
</ion-card>
</ion-content>