.content-md {
    background-color: transparent;
  }
  .item-md {
      background-color: transparent;
  }
  .toolbar {
    background-color: transparent;
      
  }
  h1, h2, h3{
    color: white;
    font: 1.5em Georgia, serif; 
  }
.qty {
    border: 2px solid black;
    width: 150px;
    height: 150px;
}
.customBtnPay {
width: 150px;
height: 50px;
border-radius: 40px;
text-align: center;
}
.buttonP{
    width: 150px;
    height: 150px;
    background-color:transparent;
    border-radius: 50%;
    
}
.buttonM{
    width: 150px;
    height: 150px;
    background-color:transparent;
    border-radius: 50%;
    
}
.buttonC{
    width: 150px;
    height: 150px;
    background-color:green;
    
}
.button {
    font-size-adjust: none;
}
modal-wrapper {
    width: 80%;
    height: 80%;
  }
  
  
  
  @media only screen and (min-height: 0px) and (min-width: 0px) {
    .modal-wrapper {
      top: 10%;
      left: 10%;
      width: 80%;
      height: 80%;
    }
  }